/*{
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"styles": "scss/"
				},
				"cwd": "babelrc"
			}
		],
		[
			"wrap-in-js",
			{
				"extensions": ["css$", "scss$"]
			}
		]
	],
	"presets": ["next/babel", "es2015"],
	"ignore": []
}

*/
{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"components": "./components"
				}
			}
		]
	]
}
